<html>
    <head>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <div class="backward">
            <a href="/">To main page</a>
        </div>        
        <div>
            <div class="message-container">
                <div class="message-header">Message from @<%= message.user %></div>
                <div class="message-text"><%= message.text %></div>
                <div class="message-date">Date: <%= message.added.toDateString() %> <%= message.added.getHours() %>:<%= message.added.getMinutes() %></div>                
            </div>
        </div>
    </body>
</html>